<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rikkei Academy</title>
  </head>

  <body>
    <h1>Thêm mới việc cần làm</h1>
    <a href="/todos">Trở về danh sách</a>
    <form method="POST" action="/todos">
      <input type="number" name="userId" placeholder="ID người dùng" />
      <input type="text" name="title" placeholder="Nội dung công việc" />
      <button type="submit">Lưu</button>
    </form>
  </body>
</html>
